@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=League+Spartan:wght@100&display=swap');

:root {
    --primary: #6c707e;
    --secondary: #B4B4B3;
    --ternary: #E55604;

    --bg-page: #202020;
    --bg-element: #252525;
    --font: #F5F5F5;
    --scn-font: #E9694F;
    font-family: 'League Spartan', sans-serif;
    font-weight: 800;
    font-size: 20px;
  
}

.body {
    background-color: var(--bg-element);
    display: flex;
    justify-content: space-around;
    margin: 30px;
    border-radius: 5px;
    column-gap: 20px;
}

/* Projeto */
.container {
    display: grid;
    background-color: var(--primary);
    grid-template-columns: 900px 600px;
    grid-template-rows: auto auto;
    gap: 10px;
    padding: 20px;
    border-radius: 6px;
    align-self: center;
}

/* Categorias */

.container__categorias {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 10px;
    border-radius: 8px;
    background-color: var(--secondary);
}

.categoria {
    width: 200px;
    height: 75px;
    display: flex;
    font-size: 22px;
    font-weight: 800;
    border-radius: 6px;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    background-color: var(--primary);
    align-self: center;

}

/* Produtos */

.container__produtos {
    display: flex;
    grid-area: 2 / 1 / 3 / 1;
    justify-content: space-between;
    padding: 20px;
    gap: 10px;
    border-radius: 6px;

    background-color: var(--secondary);
}

.container__categoria--produtos {
    gap: 10px;
    display: flex;
    align-items: center;
    height: fit-content;
    flex-direction: column;
}

/* Produto */

.produto {
    display: grid;
    cursor: pointer;
    font-size: 18px;
    font-weight: 800;
    border-radius: 8px;
    text-transform: uppercase;
    grid-template-rows: 30px 30px;
    grid-template-columns: 90px 90px;
    background-color: var(--primary);
    padding: 8px;
}

.imagem__produto {
    width: 100%;
    height: 100%;
    grid-row-start: 1;
    grid-area: 1 / 1 / span 2 / 1;
}

.descricao__produto {
    font-weight: 800;
    align-self: center;
    text-align: center;
}

.preco__produto {
    font-size: 22px;
    font-weight: 800;
    align-self: end;
    justify-self: center;
}


/* Cadastro */

.cadastro {
    padding: 20px;
    border-radius: 8px;
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;
    gap: 20px;
    grid-area: 1 / 2 / span 2 / 2;
}

.cadastro__produtos {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    align-items: center;
    gap: 20px;
}

.cadastro__container {
    display: flex;
    flex-direction: column;
}

.container__produto {
    grid-area: 1 / 1 / 1 / span 3;
}

.container__preco {
    grid-area: 2 / 1 / 2 / span 2;
}

.container__quantidade {
    grid-area: 2 / 3 / 2 / 3;
}

.label__texto--produto {
    font-size: 26px;
    font-weight: 800;
    padding-bottom: 5px;
}

.area__produto {
    text-transform: uppercase;
    padding: 10px;
    font-size: 22px;
    font-weight: 500;

}

.cadastro__botoes {
    grid-area: 3 / 1 /3 / span 3;
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    grid-template-rows: 40px;
    gap: 10px;
}

.cadastro__botoes [class*=botao] {
    font-size: 26px;
    text-transform: uppercase;
    border: 0px;
    border-radius: 8px;
    cursor: pointer;

}

.botao__mais {
    background-color: var(--primary);
}

.botao__menos {
    background-color: var(--primary);
}

.botao__adicionar {
    background-color: var(--ternary);
}

/* Tela Produtos*/

.tela__produtos {
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    border-radius: 6px;

}

.descricao__produtos {
    display: grid;
    grid-template-columns: 200px 100px 130px auto;
    background-color: var(--primary);
}

.label__produto {
    font-size: 22px;
    font-weight: 800;
    text-transform: uppercase;
    padding: 5px;
    text-align: center;
}

.label__produto:nth-child(1) {
    border-bottom: 3px solid black;
    border-right: 3px solid black;
}

.label__produto:nth-child(2) {
    border-bottom: 3px solid black;
    border-right: 3px solid black;
}

.label__produto:nth-child(3) {
    border-bottom: 3px solid black;
    border-right: 3px solid black;
}

.label__produto:nth-child(4) {
    border-bottom: 3px solid black;
}

/* Display */

.tela {
    overflow-y: scroll;
    height: 400px;
}

.tela__produto {
    display: grid;
    grid-template-columns: 200px 100px 130px auto;
}

.tela__produto:nth-child(even) {
    background-color: #a0a0a0;
}

.tela__produto div {
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item {
    justify-self: start;
}

.remover {
    cursor: pointer;
}

/* Total */
.total__produtos {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}

.total__produtos--form {
    display: flex;
    flex-direction: column;

}

.total__produtos--label {
    padding-bottom: 10px;
    font-size: 26px;
    font-weight: 800;
}

.total__produtos--valor {
    height: 40px;
    font-size: 22px;
    padding-left: 10px;
    font-weight: 500;
}

.botao__finalizar {
    font-size: 26px;
    border-radius: 6px;
    background-color: var(--ternary);
    border: 0px;
    text-transform: uppercase;
    cursor: pointer
}

/* Container finalizações */

.container__finalizacao {
    background-color: grey;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-element);
    text-transform: uppercase;
}

/* Tela produto finalizacao */

.tela__produto_finalizacao {
    width: 400px;
    height: 900px;
    background-color: var(--primary);
    padding: 20px;
    border-radius: 5px;
    font-size: 30px;
}

/* Label finalizacao */
.label_finalizacao {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 5px;
    background-color: var(--secondary);
}

.label_finalizacao div {
    font-weight: bold;
    padding: 10px;
}

/* Container pedido*/

.container__pedido {
    background-color: var(--font);
    border-radius: 5px;
    margin-top: 10px;
    padding: 5px;
}

/* Label pedido */
.label__pedido {
    border-bottom: 1px solid black;
    font-weight: bold;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 5px;
}

/* Container produots finalizacao */
.container__produtos_finalizacao {
    font-weight: bold;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 10px;
    gap: 10px;
}

.une {
    text-align: center;
}

/*  Botao finalizar pedido */
.botao__finalizacao {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
    border-top: 1px solid black;
    border-radius: 5px;
}

.botao__fin {
    background-color: var(--ternary);
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    font-size: 20px;
}


/* Produto pronto e fazendo */
.tela__pronto_finalizacao {
    width: 200px;
    height: 500px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--font);
    border: 20px var(--primary) solid;
   
    padding: 10px;
    font-size: 30px;
}

.pronto{
    font-size: 60px;
}
.produto__pronto{
    color: green;
    font-size: 60px;
    text-align: center;
}



